html,
body,
header,
#intro {
height: 100%;
}

#intro {
background: url("bg_images/A320_landing_at_TLV.jpg")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

html,
body,
main,
#education {
height: 100%;
}

#education {
background: url("bg_images/chennai.jpg")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

html,
body,
main2,
#from {
height: 100%;
}

#from {
background: url("bg_images/vizag.jpg")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

html,
body,
main3,
#work {
height: 100%;
}

#work {
background: url("bg_images/airbus-a380-wallpapers.jpg")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.top-nav-collapse {
background-color: #24355C;
}
@media (max-width: 768px) {
.navbar:not(.top-nav-collapse) {
background-color: #24355C;
}
}
@media (min-width: 800px) and (max-width: 850px) {
.navbar:not(.top-nav-collapse) {
background-color: #24355C;
}
}

